
main
{
    display: grid;
    width: 300px;
}
.block
{
    margin: 2px;
    text-align: center;
}

.block.block1 {
    background: red;
    grid-area: area1;
}

.block.block2 {
   background: blue;
    grid-area: area2;
}

.block.block3 {
    background: yellow;
    grid-area: area3;
}

.block.block4 {
    background-color: green;
    grid-area: area4;
}
@media screen and (min-width: 320px) {
    main
    {
        grid-template-areas: 'area2'
                             'area1'
                             'area3'
                             'area4';
    }

}
@media screen and (min-width: 722px)
{
    main
    {
        grid-template-areas: 'area1'
                             'area3'
                             'area2'
                             'area4';
    }
}
@media screen and (min-width: 992px)
{
    main
    {
        grid-template-areas: 'area1 area1 area1'
                             'area2 area2 area2'
                             'area3 area4 area4';
        grid-template-rows: 3fr;
    }

    .block.block3
    {
    }

    .block.block4
    {

    }
}


